.header {
	position: absolute;
	right: 0;
	left: 0;
}
.header__container {
	max-width: 1590px;
	margin: 0 auto;
	padding: 0 15px;
}
.header__inner {
	font-family: 'Circe Regular';
	font-size: 16px;
	line-height: 135%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 33px 0 33px;
}
.menu__list {
	display: flex;
	justify-content: space-between;
}
.menu__list-link {
}
.menu__list-link+.menu__list-link {
	margin-left: 47px;
}
.header__right {
	display: flex;
}
.right__search-img {
	margin-right: 70px;
}
.right__language-img {
	margin-right: 11px;
}
