.top {
	background-image: url(../images/bg-top.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.top__inner {
	display: flex;
	justify-content: space-between;
	padding: 274px 0 23px;
}
.top__main {
}
.top__main-title {
	font-weight: 700;
	font-size: 64px;
	line-height: 60%;
	text-transform: uppercase;
	margin-bottom: 35px;
}
.top__main-text {
	font-size: 24px;
	line-height: 140%;
	margin-bottom: 25px;
	max-width: 400px;
}
.top__main-link {
	font-size: 16px;
	line-height: 135%;
}
.link {
	display: flex;
}
.top__main-img {
}
.arrow {
	margin-left: 10px;
}
.top__blocks {
	width: 50%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 170px;
}
.blocks__item {
	max-width: 255px;
	padding: 30px 0;
	margin-bottom: 30px;
	display: flex;
	flex-direction: column;
}
.block__blue {
	background: #2378FC;
}
.block__green {
	background: #30BCC9;
}
.block__yellow {
	background: #FFC41E;
}
.block__red {
	background: #F6404F;
}
.blocks__item-title {
	font-family: Roboto;
	font-weight: 500;
	font-size: 21px;
	line-height: 130%;
	letter-spacing: -0.01em;
	margin-bottom: 15px;
}
.blocks__item-link {
}
.blocks__item-ing {
}