.top {
	background-image: url(../images/bg-top.jpg);
}
.top__inner {
	display: flex;
	justify-content: space-between;
	padding: 274px 0 53px;
}
.top__main {
}
.top__main-title {
	font-weight: 700;
	font-size: 64px;
	line-height: 60%;
	text-transform: uppercase;
	margin-bottom: 35px;
}
.top__main-text {
	font-size: 24px;
	line-height: 140%;
	margin-bottom: 25px;
	max-width: 400px;
}
.top__main-link {
	font-size: 16px;
	line-height: 135%;
}
.top__main-img {
}
.arrow {
}
.top__blocks {
}
.blocks__item {
}
.blocks__item-title {
}
.blocks__item-link {
}
.blocks__item-ing {
}